*{
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

canvas{
  height: 100vh;
  width: 80vw;
  z-index: 1;
}

.sidebar{

  background-color: rgb(117, 130, 141);
  position: absolute;
  width: 20vw;
  z-index: 3;
  right: 0;
  height: 100vh;
}

.navbar{
  z-index: 2;
  background-color: rgb(117, 130, 141);
  position: absolute;
  height:5vh;
  width: 100%;
 
}

.navbar li {
  
  display: flex;
 gap: 2rem;
 padding-top: 1.3vh;
 padding-left: 3rem;
}

.navbar li ul:hover{

  color:aquamarine;
}
.navbar li ul{
  font-weight: 700;
  text-decoration:none;
  color:black;
}
